{% extends 'skeleton.html' %}

{% from 'forms_util.html' import labeled_input %}

{% block body %}
<div class="container-fluid">
    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}
    <form class="form-horizontal" role="form" method="POST" action="{{ url_for('bean_purchase') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="col-md-6">
                {{ labeled_input(form.name) }}
                {{ labeled_input(form.type) }}
                {{ labeled_input(form.weight) }}
            </div>
            <div class="col-md-6">
                {{ labeled_input(form.purchase_date) }}
                {{ labeled_input(form.notes) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-4">
                <button type="submit" class="btn btn-default btn-block">Submit</button>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Your Latest Bean Purchases</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Purchase Date</th>
                    <th>Bean Type</th>
                    <th>Bean Name</th>
                    <th>Weight (grams)</th>
                    <th>Notes</th>
                </tr>
            {% for purchase in bean_purchases %}
                <tr>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">View Details</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>{{ purchase.purchase_date }}</td>
                    <td>{{ purchase.bean_type_str() }}</td>
                    <td>{{ purchase.name }}</td>
                    <td>{{ purchase.weight }}</td>
                    <td>{{ purchase.notes }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}