{% extends 'skeleton.html' %}

{% from 'lists_util.html' import page_nav %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                {{ page_nav(beans, 'bean_list') }}
            </div>
            <a class="btn btn-default pull-left" href="{{ url_for('bean_add') }}">
                <span class="glyphicon glyphicon-plus"></span>
                Add Bean
            </a>
        </div>
    </div>
    <div class="row top_margin_15">
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Purchase Date</th>
                    <th>Bean Type</th>
                    <th>Bean Name</th>
                    <th>Weight (grams)</th>
                    <th>Notes</th>
                </tr>
            {% for purchase in beans.items %}
                <tr>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">View Details</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>{{ purchase.purchase_date }}</td>
                    <td>{{ purchase.bean_type_str() }}</td>
                    <td>{{ purchase.name }}</td>
                    <td>{{ purchase.weight }}</td>
                    <td>{{ purchase.notes }}</td>
                </tr>
            {% endfor %}
            </table>
            <div class="pull-right">
                {{ page_nav(beans, 'bean_list') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}