{% extends 'skeleton.html' %}

{% from 'lists_util.html' import page_nav %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                {{ page_nav(brews, 'brew_list') }}
            </div>
            <a class="btn btn-default pull-left" href="{{ url_for('brew_add') }}">
                <span class="glyphicon glyphicon-plus"></span>
                Add Brew
            </a>
        </div>
    </div>
    <div class="row top_margin_15">
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Brew Date</th>
                    <th>Bean</th>
                    <th>Grind Size</th>
                    <th>Brew Method</th>
                    <th>Bean Weight (grams)</th>
                    <th>Water Volume (mL)</th>
                    <th>Extraction Time (sec)</th>
                    <th>Filter Type</th>
                    <th>Roast Batch</th>
                    <th>Notes</th>
                </tr>
            {% for brew in brews.items %}
                <tr>
                    <td>
                         <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ url_for('brew_add', brew_id=brew.id) }}">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="{{ url_for('brew_detail', brew_id=brew.id) }}">View Details</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>{{ brew.brew_date }}</td>
                    <td><a href="#bean-{{ brew.bean.id }}">{{ brew.bean.name }}</a></td>
                    <td>{{ brew.grind_size_str() }}</td>
                    <td>{{ brew.brew_method_str() }}</td>
                    <td>{{ brew.bean_dose }}</td>
                    <td>{{ brew.water_dose }}</td>
                    <td>{{ brew.extraction_time }}</td>
                    <td>{{ brew.filter_type_str() }}</td>
                    <td>
                    {% if brew.roast is not none %}
                        <a href="#roast-{{ brew.roast.id }}">{{ brew.roast.roast_date }}</a>
                    {% else %}
                        N/A
                    {% endif %}
                    </td>
                    <td>{{ brew.notes }}</td>
                </tr>
            {% endfor %}
            </table>
            <div class="pull-right">
                {{ page_nav(brews, 'brew_list') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}