{% extends 'skeleton.html' %}

{% from 'util_detail.html' import horizontal_table_column %}

{% block body %}
<div class="container-fluid">
    {% if g.user is not none and g.user.id == brew.user_id %}
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-default pull-left" href="{{ url_for('brew_add', brew_id=brew.id) }}">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit
            </a>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            {{ horizontal_table_column('Bean Name', brew.bean.name) }}
            {{ horizontal_table_column('Brew Date', brew.brew_date) }}
            {{ horizontal_table_column('Grind Size', brew.grind_size_str()) }}
            {{ horizontal_table_column('Brew Method', brew.brew_method_str()) }}
        </div>
        <div class="col-md-4">
            {{ horizontal_table_column('Roast Batch', brew.roast.roast_date) }}
            {{ horizontal_table_column('Bean Weight (grams)', brew.bean_dose) }}
            {{ horizontal_table_column('Water Dose (mL)', brew.water_dose) }}
            {{ horizontal_table_column('Extraction Time', brew.extraction_time|sec_to_time) }}
            {{ horizontal_table_column('Filter Type', brew.filter_type_str()) }}
        </div>
        <div class="col-md-4">
            <div class="table_label left_align">Notes</div>
            <div>{{ brew.notes|markdown|bleach_clean|safe }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_sharing_toolbox"></div>
        </div>
    </div>
</div>
{% endblock %}