{% extends 'skeleton.html' %}

{% from 'util_detail.html' import horizontal_table_column %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            {{ horizontal_table_column('Roast Batch', cupping.roast.roast_date) }}
            {{ horizontal_table_column('Cupping Date', cupping.datetime) }}
        </div>
        <div class="col-md-4">
            {{ horizontal_table_column('Aroma', cupping.aroma_notes) }}
            {{ horizontal_table_column('Acidity', cupping.acidity_notes) }}
            {{ horizontal_table_column('Flavour', cupping.flavour_notes) }}
            {{ horizontal_table_column('Mouthfeel', cupping.mouthfeel_notes) }}
            {{ horizontal_table_column('Aftertaste', cupping.aftertaste_notes) }}
            {{ horizontal_table_column('Balance/Overall', cupping.overall_notes) }}
        </div>
        <div class="col-md-4">
            <div class="table_label left_align">Notes</div>
            <div>{{ cupping.extra_notes }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_sharing_toolbox"></div>
        </div>
    </div>
</div>
{% endblock %}