{% extends 'skeleton.html' %}
{% block body %}
<div class="container-fluid">
    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}
    <form role="form" method="POST" action="{{ url_for('register') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="{{ form.username.id }}">{{ form.username.label }}</label>
            {{ form.username(class_='form-control') }}
        </div>
        <div class="form-group">
            <label for="{{ form.password.id }}">{{ form.password.label }}</label>
            {{ form.password(class_='form-control') }}
        </div>
        <div class="form-group">
            <label for="{{ form.password_confirm.id }}">{{ form.password_confirm.label }}</label>
            {{ form.password_confirm(class_='form-control') }}
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% endblock %}