{% extends 'skeleton.html' %}

{% from 'lists_util.html' import page_nav %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                {{ page_nav(roasts, 'roast_list') }}
            </div>
            <a class="btn btn-default pull-left" href="{{ url_for('roast_add') }}">
                <span class="glyphicon glyphicon-plus"></span>
                Add Roast
            </a>
        </div>
    </div>
    <div class="row top_margin_15">
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Roast Date</th>
                    <th>Bean</th>
                    <th>Roaster</th>
                    <th>Bean Weight (grams)</th>
                    <th>Drop Temp (F)</th>
                    <th>Dry Phase End Time (sec)</th>
                    <th>Dry Phase End Temp (F)</th>
                    <th>First Crack Begin Time (sec)</th>
                    <th>First Crack Begin Temp (F)</th>
                    <th>First Crack End Time (sec)</th>
                    <th>First Crack End Temp (F)</th>
                    <th>Second Crack Begin Time (sec)</th>
                    <th>Second Crack Begin Temp (F)</th>
                    <th>Second Crack End Time (sec)</th>
                    <th>Second Crack End Temp (F)</th>
                    <th>End Time (sec)</th>
                    <th>End Temp (F)</th>
                    <th>Roasted Weight (grams)</th>
                    <th>Notes</th>
                </tr>
            {% for roast in roasts.items %}
                <tr>
                    <td>
                         <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">View Details</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>{{ roast.roast_date }}</td>
                    <td><a href="#bean-{{ roast.bean.id }}">{{ roast.bean.name }}</a></td>
                    <td>{{ roast.roaster_machine_str() }}</td>
                    <td>{{ roast.bean_dose }}</td>
                    <td>{{ roast.drop_temp }}</td>
                    <td>{{ roast.dry_end_time }}</td>
                    <td>{{ roast.dry_end_temp }}</td>
                    <td>{{ roast.fc_begin_time }}</td>
                    <td>{{ roast.fc_begin_temp }}</td>
                    <td>{{ roast.fc_end_time }}</td>
                    <td>{{ roast.fc_end_temp }}</td>
                    <td>{{ roast.sc_begin_time }}</td>
                    <td>{{ roast.sc_begin_temp }}</td>
                    <td>{{ roast.sc_end_time }}</td>
                    <td>{{ roast.sc_end_temp }}</td>
                    <td>{{ roast.end_time }}</td>
                    <td>{{ roast.end_temp }}</td>
                    <td>{{ roast.end_weight }}</td>
                    <td>{{ roast.notes }}</td>
                </tr>
            {% endfor %}
            </table>
            <div class="pull-right">
                {{ page_nav(roasts, 'roast_list') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}