{% extends 'skeleton.html' %}

{% from 'lists_util.html' import page_nav %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                {{ page_nav(roasts, 'roast_list') }}
            </div>
            <a class="btn btn-default pull-left" href="{{ url_for('roast_add') }}">
                <span class="glyphicon glyphicon-plus"></span>
                Add Roast
            </a>
        </div>
    </div>
    <div class="row top_margin_15">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Roast Date</th>
                        <th>Bean</th>
                        <th>Roaster</th>
                    </tr>
                </thead>
                <tbody>
                {% for roast in roasts.items %}
                    <tr>
                        <td>
                            <a class="btn btn-default" href="{{ url_for('roast_detail', roast_id=roast.id) }}" title="View Details">
                                <span class="glyphicon glyphicon-list"></span>
                            </a>
                        </td>
                        <td>{{ roast.roast_date }}</td>
                        <td>
                        {% if roast.bean is not none %}
                            <a href="{{ url_for('bean_detail', bean_id=roast.bean.id) }}">{{ roast.bean.name }}</a>
                        {% else %}
                            N/A
                        {% endif %}
                        </td>
                        <td>{{ roast.roaster_machine_str() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pull-right">
                {{ page_nav(roasts, 'roast_list') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}