{% extends 'skeleton.html' %}

{% from 'forms_util.html' import labeled_input %}

{% block body %}
<div class="container-fluid">
    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}
    <form class="form-horizontal" role="form" method="POST" action="{{ url_for('roast') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="col-md-4">
                {{ labeled_input(form.bean_id, 4, 8) }}
                {{ labeled_input(form.roaster_machine, 4, 8) }}
                {{ labeled_input(form.bean_dose, 4, 8) }}
                {{ labeled_input(form.drop_temp, 4, 8) }}
                {{ labeled_input(form.dry_end_time, 4, 8) }}
                {{ labeled_input(form.dry_end_temp, 4, 8) }}
                {{ labeled_input(form.fc_begin_time, 4, 8) }}
            </div>
            <div class="col-md-4">
                {{ labeled_input(form.fc_begin_temp, 4, 8) }}
                {{ labeled_input(form.fc_end_time, 4, 8) }}
                {{ labeled_input(form.fc_end_temp, 4, 8) }}
                {{ labeled_input(form.sc_begin_time, 4, 8) }}
                {{ labeled_input(form.sc_begin_temp, 4, 8) }}
                {{ labeled_input(form.sc_end_time, 4, 8) }}
            </div>
            <div class="col-md-4">
                {{ labeled_input(form.sc_end_temp, 4, 8) }}
                {{ labeled_input(form.end_time, 4, 8) }}
                {{ labeled_input(form.end_temp, 4, 8) }}
                {{ labeled_input(form.end_weight, 4, 8) }}
                {{ labeled_input(form.roast_date, 4, 8) }}
                {{ labeled_input(form.notes, 4, 8) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-4">
                <button type="submit" class="btn btn-default btn-block">Submit</button>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Your Latest Roasts</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Roast Date</th>
                    <th>Bean</th>
                    <th>Roaster</th>
                    <th>Bean Weight (grams)</th>
                    <th>Drop Temp (F)</th>
                    <th>Dry Phase End Time (sec)</th>
                    <th>Dry Phase End Temp (F)</th>
                    <th>First Crack Begin Time (sec)</th>
                    <th>First Crack Begin Temp (F)</th>
                    <th>First Crack End Time (sec)</th>
                    <th>First Crack End Temp (F)</th>
                    <th>Second Crack Begin Time (sec)</th>
                    <th>Second Crack Begin Temp (F)</th>
                    <th>Second Crack End Time (sec)</th>
                    <th>Second Crack End Temp (F)</th>
                    <th>End Time (sec)</th>
                    <th>End Temp (F)</th>
                    <th>Roasted Weight (grams)</th>
                    <th>Notes</th>
                </tr>
            {% for roast in past_roasts %}
                <tr>
                    <td>
                         <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">View Details</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>{{ roast.roast_date }}</td>
                    <td><a href="#bean-{{ roast.bean.id }}">{{ roast.bean.name }}</a></td>
                    <td>{{ roast.roaster_machine_str() }}</td>
                    <td>{{ roast.bean_dose }}</td>
                    <td>{{ roast.drop_temp }}</td>
                    <td>{{ roast.dry_end_time }}</td>
                    <td>{{ roast.dry_end_temp }}</td>
                    <td>{{ roast.fc_begin_time }}</td>
                    <td>{{ roast.fc_begin_temp }}</td>
                    <td>{{ roast.fc_end_time }}</td>
                    <td>{{ roast.fc_end_temp }}</td>
                    <td>{{ roast.sc_begin_time }}</td>
                    <td>{{ roast.sc_begin_temp }}</td>
                    <td>{{ roast.sc_end_time }}</td>
                    <td>{{ roast.sc_end_temp }}</td>
                    <td>{{ roast.end_time }}</td>
                    <td>{{ roast.end_temp }}</td>
                    <td>{{ roast.end_weight }}</td>
                    <td>{{ roast.notes }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}