{% extends 'skeleton.html' %}

{% from 'lists_util.html' import page_nav %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                {{ page_nav(roasts, 'roast_list') }}
            </div>
            <a class="btn btn-default pull-left" href="{{ url_for('roast_add') }}">
                <span class="glyphicon glyphicon-plus"></span>
                Add Roast
            </a>
        </div>
    </div>
    <div class="row top_margin_15">
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Roast Date</th>
                    <th>Bean</th>
                    <th>Roaster</th>
                </tr>
            {% for roast in roasts.items %}
                <tr>
                    <td>
                         <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ url_for('roast_add', roast_id=roast.id) }}">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="{{ url_for('roast_detail', roast_id=roast.id) }}">View Details</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>{{ roast.roast_date }}</td>
                    <td><a href="#bean-{{ roast.bean.id }}">{{ roast.bean.name }}</a></td>
                    <td>{{ roast.roaster_machine_str() }}</td>
                </tr>
            {% endfor %}
            </table>
            <div class="pull-right">
                {{ page_nav(roasts, 'roast_list') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}