<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bean Counter</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='coffee-style.css') }}">
  {% block extra_style %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}">Bean Counter</a>
            </div>
            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('bean_list') }}">Beans</a></li>
                    <li><a href="{{ url_for('brew_list') }}">Brews</a></li>
                    <li><a href="{{ url_for('roast_list') }}">Roasts</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                {% if g.user is not none and not g.user.is_authenticated() %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% else %}
                    <li><a href="{{ url_for('logout') }}">Logout [{{ g.user.username }}]</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% block body %}
{% endblock %}
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div id="footer">
                Created by <a href="https://github.com/BouncyNudibranch">BouncyNudibranch</a>.
                Code licensed under <a href="https://github.com/BouncyNudibranch/bean-counter/blob/master/LICENSE">GPL v2</a>.
                Fork me on <a href="https://github.com/BouncyNudibranch/bean-counter">GitHub</a>.
            </div>
        </div>
    </div>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% block extra_scripts %}{% endblock %}
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53e929cd6d29e856"></script>
</body>
</html>